<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Mazadat App Suite">
    <listeners>
            <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    
   <test thread-count="2" name="test">
    <!-- parameter name="deviceName" value="TiramisuPrivacySandbox"></parameter -->
    <!--parameter name="platformName" value="Android"><-parameter-->
    <classes>
       <class name="appTests.OnboardingTest">

              <methods>
					<include name="testOnBoarding" />
                  <include name="testHomeTour"/>
				</methods>
		
		</class>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
